/* body{
	width: 600px;
	margin: 0 auto;
	border: 5px solid #02499B;
	margin-top: 5%;
}
.users{
	float : right;
	margin-right: 30%;
}
.messages {
	width: 500px;
	height: 400px;
	margin: auto;
	border : 1px solid black;
	border-radius: 4%;
	padding: 1em;
}
.message_form,
.change_name_form{
	padding: 1em;
}
.center{
	width: 600px;
	height: 700px;
}
.textinput{
	margin-left: 3%;
	width: 520px;
	height: 40px;
} */

/*회원가입 첫 화면*/
.ILogo {
	width: 330px;
	height: 60px;
	position: relative;
	top: 800px;
	left: 1450px;
}
.IChar {
	width: 120px;
	height: 120px;
	position: relative;
	top: 165px;
	left: 1100px;
}
.submit-form {
	width: 600px;
	height: 350px;
	border: 5px solid #02499B;
	border-radius: 4px;
    margin-top: 8%;
	margin-left: 33%;
}
.screenTitle{
	position: relative;
    font-size: 35px;
	font-weight: 700;
	letter-spacing: 1px;
	top: 10%;
	left: 26%;
}
.text-input {
	position: relative;
	width: 48%;
	border-radius: 4px;
	font-size: 30px;
    height: 35px;
    font-size: 14px;
    border: 2px solid #ccc;
	top: 55px;
	margin-top: 10px;
	margin-left: 150px;
}
.submit-button {
	width: 49%;
	border-radius: 4px;
	margin-top: 90px;
	margin-left: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	border: none;
    background-color: #fdaf14;
}
.submit-button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}
.direct-login-button {
    width: 49%;
	border-radius: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 15px;
	margin-left: 150px;
    cursor: pointer;
    background-color: #fdaf14;
    border: none;
    color: black;
}
.label {
    display: block;
}
/*회원가입 첫 화면*/

/*로그인 화면*/
.loginText {
	position: relative;
    font-size: 35px;
	font-weight: 700;
	letter-spacing: 2px;
	top: 10%;
	left: 42%;
}
/*로그인 화면*/

/*검색바*/
.search-bar form {
	display: flex;
	width: 300px;
	height: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
	padding-right: 7px;
}

.search-bar button img {
	width: 24px;
	height: 22px;
}